h1{
    padding-left: clamp(10px,3.9%,40px);
    padding-right: clamp(10px,3.9%,40px);
    padding-top: 10px;
    font-size: var(--heading2);
}

.containerPrincipal{
    margin:20px 0;
}

.containerForm{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px clamp(10px,3.9%,40px);
    width: 94%;
}

.containerForm form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin:0 auto;
    min-height: 1250px;
    
}

.containerProductSelect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selectProductBox {
    display: flex;
    width: 75%;
    justify-content: space-between;      
}

.titleProductSelect {
    padding-bottom: 10px;
}

.buttonSearchProduct {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: white;
    font-size: var(--button4);
    font-weight: var(--font-bold);    
    width: clamp(100px,10vw,150px);
}   

.containerForm label, .containerForm h3, .containerForm h5{
    color: var(--secondary-color);
    padding-bottom: 5px;  
}

.containerForm h3{
    font-size: var(--heading3);
    font-weight: var(--font-bold);
}

.containerForm label, .containerForm h5{
    font-size: var(--text2);
    font-weight: var(--font-medium);
}

.containerBlockAdministrator{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.containerBlockAdministrator>div{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.containerBlockAdministrator input{
    padding: 5px;
}

.description{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.description label{
    align-self: center;
    width: 100%;
}

.containerPoliticsPrincipal, .containerCheckbox, .containerImages{
    width: 100%;
}

.description textarea, .politics textarea{
    align-self: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
    color: var(--tertiary-color);
    font-size: var(--text2);
    font-weight: 500;
    padding: 15px;
   
}

.description textarea{
    width: 100%;
}

.politics textarea{
    height:80%;
}
.containerCheckbox{
    display: flex;
    flex-direction: column;
    margin:0 auto;
}

.containerCheckbox label{
text-transform: capitalize;
}

.containerCheckbox input[type="checkbox"]{
    height: 12px;
    width: 12px;
}

.containerPolitics{
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
    height: 32vh;
    padding: 15px 0;
}

.politics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.politics textarea{
width: 100%;
}

#buttonCreateProduct{
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: white;
    font-size: var(--button1);
    font-weight: var(--font-bold);
    padding: 5pt;
    width: clamp(164px,22.2vw,250px);
}

@media all and (max-width:769px){
    .containerForm form{
        min-height: 1500px;
        
    }

    .containerPoliticsPrincipal{
        width: 100%;
    }
    .containerPolitics{
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
       padding: 20px;
    }

    .politics{
        height: 30%;
        width: 100%;
    }

    .politics textarea{
        height: 65%;
    }

    .selectProductBox {       
        width: 100%;        
    }
}
/*Estilos Create*/

.containerCreateModal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
    max-height: 350px;
    max-width: 600px;
    min-height: 300px;
    min-width: 460px;
    padding: 35px;
    width: 46vw;
}
  
.containerCreateModal img {
width: 78px;
}

.containerCreateModal h3 {
color: var(--primary-color);
font-size: 24px;
}

.containerCreateModal p {
color: var(--secondary-color);
font-size: 20px;
font-weight: var(--font-bold);
}
  
.containerCreateModal a {
width: 55%;
}

.containerCreateModal a button {
background-color: var(--primary-color);
border: none;
border-radius: 5px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
color: white;
font-size: 16px;
font-weight: var(--font-bold);
padding: 8px;
width: 100%;
}

@media all and (max-width:415px){
    .selectProductBox {       
        flex-direction: column;        
    }

    .buttonSearchProduct {
        padding: 6px 0;
        margin-top: 10px;
        width: 100%;
    }
}
