/* Estilos de titleBar */

.titleBar {
  background-color: var(--tertiary-color);
  color: white;
}

.titleBar .titleBarChild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding-left: clamp(20px, 3.9%, 40px);
  padding-right: clamp(20px, 3.9%, 40px);
}
.titleBarChild div p {
  text-transform: uppercase;
}

.titleBarChild .iconLocation {
  cursor: pointer;
  width: 25px;
}

/* Estilos FormBooking */
.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:35vh;
    max-height: 400px;
    min-height: 270px;
    width: 100%;
}

.containerForm h3{
    color: var(--primary-color);
    font-size: var(--heading1);
}

.containerForm form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 28vh;
    min-height: 200px;
    max-height: 300px;
}

.block{
    display: flex;
    justify-content: space-evenly;
    height: 40%;
   width: 100%;
}

.labelInput{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
}

.labelInput label{
    color: var(--primary-color);
    font-size: var(--text2);
    font-weight: var(--font-medium);
}

.labelInput input{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    opacity: 0.4;
    padding: 15px;
    border-radius: 5px;
    border:none;
}

.labelInput input:disabled{
    background-color: #DFE4EA;
    
}

/* Estilos infoBar */

.infoBar {
  background-color: white;
  padding: 20px 0;
}
.infoBarChild {
  padding-left: clamp(20px, 3.9%, 40px);
  padding-right: clamp(20px, 3.9%, 40px);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.infoBarChild h2 {
  color: var(--secondary-color);
  font-size: var(--heading2);
  font-weight: var(--font-bold);
  margin-bottom: 30px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 30px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.info div {
  width: clamp(236.2px, 30vw, 420px);
}

.info div h3 {
  color: var(--secondary-color);
  font-size: var(--heading3);
  font-weight: var(--font-bold);
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.info div h3,
.info div p {
  padding: 10px 0;
}

/*MEDIA QUERIES*/

@media all and (max-width: 769px) {
    .barraIzq{
        width: 100%;
    }
}

@media all and (max-width: 415px){
    .containerForm{
        height: 65vh;
        max-height: 450px;
        min-height: 360px;
    }
    .containerForm h3{
        font-size: var(--heading2);
    }
    .containerForm form{
        max-height: 380px;
    min-height: 320px;
    height: 55vh;
    padding: 15px;
    }
    .block{
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
    }

.labelInput{
    width: 100%;
}

    .labelInput input{
        padding: 12px;
    }
}